* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  display: flex;
}
.container {
  display: flex;
}

.about {
  font-family: sans-serif;
  padding: 7;
}
.image {
  border-radius: 500px;
  width: 200px;
}

.repo {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  display: inline-block;
  background-color: #6d6dd5;
  width: 500px;
  font-size: x-large;
  font-weight: bold;
}
.respository {
  padding: 7;
}
